{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="cover-heading">WELCOME TO FOREX ETL</h1>
<p class="lead">Forex Historical Data</p>
{% endblock %}
{% block datacontent %}
<table id="partnerTable" class="display" >
  <thead>
    <tr>
    <th>{{ t }}</th>
    <th>City ID</th>
    <th>City</th>
    <th>Cloudiness</th>
    <th>Country</th>
    <th>Date</th>
    <th>Humidity</th>
    <th>Lat</th>
    <th>Lng</th>
    <th>Max Temp</th>
    <th>Wind Speed</th>
    </tr>
  </thead>
  <tbody>
{% for d in data %}
    <tr>
      <td>{{ d.Date }}</td>
      <td>{{ d.AUD }}</td>
      <td>jacareacanga</td>
      <td>0</td>
      <td>BR</td>
      <td>1528902000</td>
      <td>62</td>
      <td>-6.22</td>
      <td>-57.76</td>
      <td>89.60</td>
      <td>6.93</td>
    </tr>
{% endfor %}
  </tbody>
  </table>
{% endblock %}
